<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Budget Blueprint</title>
  <link rel="stylesheet" href="css/main.css">
  <script src="https://kit.fontawesome.com/15181efa86.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://unpkg.com/bulma@0.9.4/css/bulma.min.css" />
  <style>
    body {
      background-image: url(https://img.freepik.com/free-vector/watercolor-painted-malaga-skyline_52683-71499.jpg?w=1380&t=st=1690499307~exp=1690499907~hmac=edc1d2b00bf5443666b43c32b1c54b9040f03c7314cbb63f9bfb4e8c319328ee);
      background-color: linear-gradient(to right, #56ccf2, #2f80ed);
      background-size: cover;
    }
  </style>
</head>

<body>
  <section class="hero is-medium">
    <div class="hero-head">
      <div class="container">
        <nav class="navbar" role="navigation" aria-label="main navigation">

          <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
              <a href="/" class="navbar-item is-active">
                Home
              </a>
              <a href="/login" class="navbar-item">
                Profile
              </a>
              {{#if logged_in}}
                <button id="logout">
                  Logout
                </button>
              {{/if}}
            </div>

            <div class="navbar-end">
              <div class="navbar-item">
                <a href="#">
                  <i class="fab fa-facebook"></i>
                </a>
                <a href="#">
                  <i class="fab fa-twitter"></i>
                </a>
                <a href="#">
                  <i class="fas fa-rss-square"></i>
                </a>
              </div>
            </div>
          </div>
        </nav>
      </div>
    </div>
    <div class="hero-body">
      <div id="style" class="container has-text-centered">
        <h1 class="has-text-centered is-size-1">
          <span role="img" aria-label="money">💸</span>
          <a href="/" class="" width="150" height="40">Budget Blueprint!</a>
        </h1>
        <h2 class="subtitle">
          Let's find your new home city!
        </h2>
      </div>
    </div>
  </section>
  <div class="flex-column justify-space-around">
    <header class="display-flex justify-space-between align-center p-2">
    </header>
    <main class="container container-fluid mt-5">
      <!-- Render the sub layout -->

      {{{ body }}}
    </main>
    <footer>

    </footer>
  </div>

  <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>