<div class="container">
  <div class="columns">
    <div class="column">
      <h2 class="title is-2">Welcome, {{username}}!</h2>
    </div>
  </div>

  <div class="columns mt-4">
    <div class="card column is-half">
      <div class="card">
        <div class="card-content">
          <div class="content">
            <h2> Income: </h2>
            <h2> City: </h2>
          </div>
        </div>
      </div>
    </div>

    <div class="column is-half">
      <div class="columns is-centered">
        <div class="column">
          <div class="panel">
            <p class="panel-heading">
              Saved Searches
            </p>
            <div class="panel-block">
              {{#each location as |location|}}
                <p>{{location.location_result}}</p>
              {{/each}}
            </div>
          </div>
        </div>
      </div>

      <div class="mt-4">
        <div class="columns mb-2">
          <div class="column">
            <button class="button is-danger is-small" data-id="{{project.id}}">DELETE</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="/js/profile.js"></script>