/* body {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRCx0peP35AX8OHhC5_WtGidNBnTZ_TOfU7OQ&usqp=CAU);
    background-color: linear-gradient(to right, #56ccf2, #2f80ed);
    background-size: cover;
    } */